:root {
  // Header
  --headerLogoBefore: #e5261e;
  --headerHover: #cc221b;
  // Search
  --searchSubmitColor: #e5261e;
  --searchBorder: #333333;
  // In Out
  --headerLogoBefore: #e5261e;
  --headerHover: #cc221b;
  --textColor: #ffffff;
  --textColorUserName: #333333;
  // Footer
  --backgroundFooter: #f2f2f2;
  --footerLinkColor: #1f4766;
  --footerLineColor: #333333;
  // Tabs
  --tabsItemBackground: #e5261e;
  --tabsActiveColor: #e5261e;
  //Tab
  --tabFronBack: rgba(51, 51, 51, 0.8);
  --tabFronBackTransform: 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  --tabScrollbar: #f2f2f2;
  --tabScrollbarThumb: #bdbdbd;
  --tabImgBackgroundStatis: #c4c4c4;
  --tabColorStatis: #fff;
  --tabColorActiveLine: #e5261e;
  --tabFirsGenre: linear-gradient(136.27deg, #f2c94c 8.44%, #f29a4a 91.36%);
  --tabTwoGenre: linear-gradient(136.27deg, #f2c94c 8.44%, #f29a4a 91.36%);
  --tabThreeGenre: linear-gradient(136.27deg, #f2c94c 8.44%, #f29a4a 91.36%);
  --tabFirsGenre: linear-gradient(136.27deg, #f2c94c 8.44%, #f29a4a 91.36%);

  // Popup
  --popupBackground: rgba(51, 51, 51, 0.6);
  --popupInputPplaceholder: #828282;
  --popupBorder: #333333;
  --popupchecked: #e5261e;
}
