@import "../../constants/enum.scss";

.tab {
  padding-top: 32px;
  overflow: hidden;
  &-title {
    min-height: 46px;
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      margin: 16px 0px;
    }
  }
}
.tab-list__item {
  &-img:not(.static):hover {
    img {
      transform: rotateY(-180deg);
      transform-style: preserve-3d;
    }
    .tab-list__item-description {
      transform: rotateY(0deg);
      transform-style: preserve-3d;
    }
  }
}
