@import "../../constants/enum.scss";
@mixin size {
  width: 280px;
  height: 370px;
  display: block;
}
@mixin size-static {
  width: 280px;
  height: 208px;
}
@mixin front-back {
  -webkit-transition: -webkit-transform $tabFronBackTransform;
  transition: -webkit-transform $tabFronBackTransform;
  transition: transform $tabFronBackTransform;
  transition: transform $tabFronBackTransform,
    -webkit-transform $tabFronBackTransform;
  transition: transform $tabFronBackTransform,
    -webkit-transform $tabFronBackTransform;
  transition: transform $tabFronBackTransform,
    -webkit-transform $tabFronBackTransform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 280px;
  // height: auto;
  background: $tabFronBack;
}
.tab {
  padding-top: 32px;
  overflow: hidden;
  &-title {
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      margin: 16px 0px;
    }
  }
  &-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 680px;
    &.tv {
      overflow-y: auto;
      padding-right: 8px;

      @media (max-width: 768px) {
        padding-right: 0px;
      }
      &::-webkit-scrollbar {
        width: 4px;
        background: $tabScrollbar;
      }
      &::-webkit-scrollbar-thumb {
        width: 4px;
        border-radius: 2px;
        background: $tabScrollbarThumb;
      }
    }
    @media (max-width: 768px) {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      max-height: unset;
    }
    &__item {
      width: 280px;
      cursor: pointer;
      position: relative;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      &.static {
        margin-bottom: 16px;
      }
      &.line {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 16px;
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }
        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
      &.scroll {
        overflow-y: auto;
      }
      &-img {
        position: relative;
        &:not(.static) {
          img {
            @include size;
            @include front-back;
            -o-object-fit: cover;
            object-fit: cover;
            background: $tabImgBackgroundStatis;
            border-radius: 8px;
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
          }
        }
        &.static {
          opacity: 0.8;
          @include size-static();
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-radius: 8px;
          img {
            width: 49px;
            height: 49px;
            object-fit: contain;
          }
        }
        &.line {
          width: 30%;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        &:hover {
          opacity: 1;
        }
      }
      &-title {
        font-size: 20px;
        line-height: 24px;
        padding: 16px 0px;
        &.static {
          position: absolute;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 100%;
          bottom: 0;
          color: $tabColorStatis;
          padding: 0 0 23px 0px;
        }
        &.line {
          width: 70%;
          position: relative;
          -webkit-box-pack: left;
          -ms-flex-pack: left;
          justify-content: left;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          color: #333333;
          padding: 19px;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;

          @media (max-width: 768px) {
            width: 100%;
          }
          .active {
            color: $tabColorActiveLine;
          }
          .time {
            margin-left: -16px;
            padding-right: 16px;
            font-weight: normal;
            font-size: 16px;
          }
          .title {
            font-weight: normal;
            font-size: 16px;
            @media (max-width: 768px) {
              margin-left: -16px;
            }
          }
        }
      }
      &-description {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 16px;
        @include size;
        @include front-back;
        display: block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        background: $tabFronBack;
        font-size: 16px;
        line-height: 140%;
        color: $tabScrollbar;
        border-radius: 8px;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        .inner {
          -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
          transform: translateY(-50%) translateZ(60px) scale(0.94);
          top: 50%;
          position: absolute;
          left: 0;
          width: 100%;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          outline: 1px solid transparent;
          -webkit-perspective: inherit;
          perspective: inherit;
          z-index: 2;
          padding: 16px;
        }
      }
      &.static {
        &:not(.line) {
          &:nth-child(4n - 3) {
            .tab-list__item-img {
              background: $tabFirsGenre;
            }
          }
          &:nth-child(4n - 2) {
            .tab-list__item-img {
              background: linear-gradient(
                136.27deg,
                #f2994a 8.44%,
                #eb5757 91.36%
              );
            }
          }
          &:nth-child(4n - 1) {
            .tab-list__item-img {
              background: linear-gradient(
                136.27deg,
                #56ccf2 8.44%,
                #2f80ed 91.36%
              );
            }
          }
          &:nth-child(4n) {
            .tab-list__item-img {
              background: linear-gradient(
                136.27deg,
                #828282 8.44%,
                #333333 91.36%
              );
            }
          }
        }
        &.line {
          background: $tabScrollbar;
          border-radius: 8px;
        }
      }
    }
  }
}
.tab-list__item {
  &-img:not(.static):hover {
    img {
      -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    .tab-list__item-description {
      -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
}
