@import "../../constants/enum.scss";
@mixin size {
  width: 280px;
  height: 370px;
  display: block;
}
@mixin size-static {
  width: 280px;
  height: 208px;
}
@mixin front-back {
  transition: transform var(--tabFronBackTransform);
  backface-visibility: hidden;
  min-height: 280px;
  // height: auto;
  background: var(--tabFronBack);
}
.tab {
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 680px;
    &.tv {
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 8px;

      @media (max-width: 768px) {
        padding-right: 0px;
      }
      &::-webkit-scrollbar {
        width: 4px;
        background: var(--tabScrollbar);
      }
      &::-webkit-scrollbar-thumb {
        width: 4px;
        border-radius: 2px;
        background: var(--tabScrollbarThumb);
      }
    }
    @media (max-width: 768px) {
      justify-content: space-around;
      max-height: unset;
    }
    &__item {
      width: 280px;
      cursor: pointer;
      position: relative;
      transform-style: preserve-3d;
      perspective: 1000px; 
      &--static {
        margin-bottom: 16px;
      }
      &.line {
        width: 100%;
        display: flex;
        margin-bottom: 16px;
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }
        @media (max-width: 768px) {
          flex-direction: column;
        }
      }
      &.scroll {
        overflow-y: auto;
      }
      &-img {
        position: relative;
        &:not(.static) {
          img {
            @include size;
            @include front-back;
            object-fit: cover;
            background: var(--tabImgBackgroundStatis);
            border-radius: 8px;
            transform: rotateY(0deg);
            transform-style: preserve-3d;
          }
        }
        &.static {
          opacity: 0.8;
          @include size-static();
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          img {
            width: 49px;
            height: 49px;
            object-fit: contain;
          }
        }
        &.line {
          width: 30%;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        &:hover {
          opacity: 1;
        }
      }
      &-title {
        font-size: 20px;
        line-height: 24px;
        padding: 16px 0px;
        &.static {
          position: absolute;
          display: flex;
          justify-content: center;
          width: 100%;
          bottom: 0;
          color: var(--tabColorStatis);
          padding: 0 0 23px 0px;
        }
        &.line {
          width: 70%;
          position: relative;
          justify-content: left;
          flex-direction: column;
          color: #333333;
          padding: 19px;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;

          @media (max-width: 768px) {
            width: 100%;
          }
          .active {
            color: var(--tabColorActiveLine);
          }
        }
      }
      &-description {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        padding: 16px;
        @include size;
        @include front-back;
        display: block;
        box-sizing: border-box;
        position: absolute;
        background: var(--tabFronBack);
        font-size: 16px;
        line-height: 140%;
        color: var(--tabScrollbar);
        border-radius: 8px;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        .inner {
          transform: translateY(-50%) translateZ(60px) scale(0.94);
          top: 50%;
          position: absolute;
          left: 0;
          width: 100%;
          box-sizing: border-box;
          outline: 1px solid transparent;
          perspective: inherit;
          z-index: 2;
          padding: 16px;
        }
      }
      &.static {
        &:not(.line) {
          &:nth-child(4n - 3) {
            .tab-list__item-img {
              background: var(--tabFirsGenre);
            }
          }
          &:nth-child(4n - 2) {
            .tab-list__item-img {
              background: linear-gradient(
                136.27deg,
                #f2994a 8.44%,
                #eb5757 91.36%
              );
            }
          }
          &:nth-child(4n - 1) {
            .tab-list__item-img {
              background: linear-gradient(
                136.27deg,
                #56ccf2 8.44%,
                #2f80ed 91.36%
              );
            }
          }
          &:nth-child(4n) {
            .tab-list__item-img {
              background: linear-gradient(
                136.27deg,
                #828282 8.44%,
                #333333 91.36%
              );
            }
          }
        }
        &.line {
          background: var(--tabScrollbar);
          border-radius: 8px;
        }
      }
    }
  }
}

.animate {
  animation: transform;
}

@keyframes transform {
  from {
    transform: translateX(100%);
    animation-timing-function: ease-in-out;
  }
  to {
    transform: translateX(0%);
    animation-timing-function: ease-in-out;
  }
}
